<!DOCTYPE html>
<html>
<head>
    <title>Item Stock Report</title>
    <!-- Include Bootstrap CSS or other styling if desired -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add custom CSS styles here if needed */
    </style>
</head>
<body>
    {% include 'home.html' %}
    <div class="container text-center my-4">
        <form action="{% url 'item_stock_report' %}" method="get" class="form-inline justify-content-center">
            <div class="form-group mx-sm-3 mb-2">
                <label for="itemSelect" class="sr-only">Item:</label>
                <select id="itemSelect" name="item_name" class="form-control">
                    <option value="">Select Item</option>
                    
                    {% for item in item_names %}
                        <option value="{{ item }}" {% if item == selected_item %}selected{% endif %}>{{ item }}</option>
                    {% endfor %}
                    
                </select>
                
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    <div class="container">
        <h1 class="mt-4" style="text-align: center;">All Items Stock Report</h1>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Purchase Quantity</th>
                    <th>Sale Quantity</th>
                    <th>Stock</th>

                </tr>
            </thead>
            <tbody>
                {% for item in stock_data %}
                <tr>
                    <td>{{ item.0 }}</td>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                    <td>{{ item.3 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</body>
</html>
