<!DOCTYPE html>
<html>

<head>
    <title>Profit and Loss Report</title>
    <!-- Add any CSS styling or external stylesheets here -->
    <style>
        /* Add your CSS styles here */
        /* ... Your existing CSS styles ... */
    </style>
</head>

<body>
    <h1>Profit and Loss Report Till Date</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>
        <input type="submit" value="Generate Report">
    </form>

    <div>
        <h2>Total Sale Amount : <strong>{{ total_sale_amount }}</strong></h2>
        <h2>Total Purchase Amount: <strong>{{ total_purchase_amount }}</strong></h2>
        <h2>Profit or Loss: <strong>{{ profit_or_loss }}</strong></h2>
    </div>

    <!-- You can format and style the report as needed -->
</body>

</html>
