<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Report</title>
    <!-- Include Bootstrap CSS or other styling if desired -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    {% include 'home.html' %}
    <div class="container mt-4">
        <h1 class="text-center">Date-wise Sale/Purchase Report</h1>

        <form method="POST">
            {% csrf_token %}
            <div class="form-row" style="margin-left: 133px;">
                <div class="form-group col-md-4">
                    <label for="start_date">Start Date:</label>
                    <input type="date" class="form-control" id="start_date" name="start_date">
                </div>
                <div class="form-group col-md-4">
                    <label for="end_date">End Date:</label>
                    <input type="date" class="form-control" id="end_date" name="end_date">
                </div>
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-primary" style="margin-top: 32px;">Generate Report</button>
                </div>
            </div>
        </form>
        <hr>
        {% if start_date and end_date %}
        <h2 class="text-center">Reports from {{start_date}} to {{ end_date }} </h2>
        {% endif %}
        <hr>
        {% if report_data %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Sale Amount</th>
                    <th>Purchase Amount</th>
                    <th>Profit/Loss</th>
                </tr>
            </thead>
            <tbody>
                {% for row in report_data %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.3 }}</td>
                </tr>
                {% endfor %}
                <!-- Display the grand total row -->
                <tr>
                    <td><b>Grand Total</b></td>
                    <td><b>{{ sum_sale_amount }}</b></td>
                    <td><b>{{ sum_purchase_amount }}</b></td>
                    <td><b>{{ sum_profit_loss }}</b></td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <p class="text-center">No data available.</p>
        {% endif %}
    </div>
</body>

</html>