{% include 'home.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

</head>

<body>

    <div class="container">
        <h1 style="text-align: center;">List of Items</h1>
        <hr>
    </div>

    <div class="container">
        <a href="/inventory/item/save" class="btn btn-primary">Add Item</a>
        <hr>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Item Code</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Created On</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itemList %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.item_code }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.datetime }}</td>
                    <td><a href="/inventory/item/delete/{{item.id}}" class="btn btn-danger">Delete</a></td>
                    <td><a href="/inventory/item/update/{{item.id}}" class="btn btn-success">Update</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>