<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier List</title>
   
</head>
<body>
    {% include 'home.html' %}
    <div class="container" style="text-align: center;" mt="2">
        <h1>List Of All Supplier</h1>
        
        <hr>
    </div>
    
    <div class="container">
        <a href="/inventory/supplier/save" class="btn btn-primary" >Add Supplier</a> 
        <hr>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Supplier ID</th>
                    <th>Supplier Name</th>
                    <th>Mobile No</th>
                    <th>Address</th>
                    <th>Created On</th>
                    <th>Status</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in supplierList %}
                <tr>
                    <td>{{ supplier.id }}</td> 
                    <td>{{ supplier.supplier_name }}</td>
                    <td>{{ supplier.mobile_no }}</td>
                    <td>{{ supplier.address }}</td>
                    <td>{{ supplier.datetime }}</td>
                    <td>{{ supplier.status }}</td>
                    <td><a href="/inventory/supplier/delete/{{supplier.id}}" class="btn btn-danger">Delete</a></td>
                    <td><a href="/inventory/supplier/update/{{supplier.id}}" class="btn btn-success">Update</a></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>
